*, *::before, *::after {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bgc1: rgb(51 51 51); /* grey */
    --bgc2: rgb(255 255 255); /* white */
    --bgc3: rgb(245, 245, 245); /* light grey */

    --color1: rgb(0 128 128); /* teal */
    --color2: rgb(112 128 144); /* slategrey */

}
.color-1 {
    color: var(--color1);
}
.color-2 {
    color: var(--color2);
}
.container {
    max-width: 1200px;
}
p {
    font-size: 20px;
}

/* menu */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    background-color: var(--bgc1);
}
.header_container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1200px;
    max-width: 100%;
}
.menu_body {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.menu_logo {
    position: relative;
    overflow: hidden;
    flex: 0 0 60px;
    z-index: 3;

    border-radius: 50%;
}
.menu_logo img {
    display: block;
    max-width: 100%;
}
.menu_dropdown {
    display: none;
}
.menu_list {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
}
.menu_list li {
    list-style: none;
    padding-right: 5px;
}
.menu_list li:last-child {
    padding-right: 0;
}
.menu_list li a:hover {
    color: black;
    border-radius: 5px;
    background-color: teal;
}
.menu_link {
    padding: 5px 10px;

    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--color1);
}

/* main */
main {
    flex: 1 1 auto;
    margin-top: 80px;
}
section {
    min-height: 100vh;
    padding: 100px 0;
}
.me, .examples, .contacts {
    background-color: var(--bgc2);
}
.about, .portfolio, .donuts {
    background-color: var(--bgc3);
}

.row_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.me_title, .me_text {
    max-width: 600px;
    margin: 0 auto;
}
.me_title {
    text-align: center;
}
.me_text {
    text-align: justify;
    padding-top: 15px;
}

/* about */
.row_about-title {
    margin-bottom: 50px;
}
.about_title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

/* examples */
.examples_title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.examples_text {
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}.examples_text:last-child {
    padding-top: 0;
}
.examples_inner {
    padding-top: 25px;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: max-content max-content;
    gap: 178px;
    place-content: center center;
}
.example_item {
    width: 300px;
    height: 200px;
    background-color: var(--bgc3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color2);
}
.example_title a {
    font-size: 36px;
    font-weight: 400;
    color: var(--color1);
    margin-bottom: 27px;
    text-decoration: none;
}
.example_text {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-decoration: none;
    color: black;
}
/* portfolio */
.portfolio_title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='teal'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='teal'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.row_portfolio_links-title {
    padding-top: 75px;
}
.portfolio_links {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.portfolio_inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 600px;
}
.portfolio_item a {
    text-decoration: none;
}
.portfolio i {
    color: black;
    font-size: 45px;
    width: 90px;
    height: 90px;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* contacts */
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row_contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacts_title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.contacts_text {
    text-align: justify;
    padding-top: 15px;
}
.contacts_links {
    display: flex;
    justify-content: center;
}
.contacts_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}
.contact_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.contact_item a {
    text-decoration: none;
}
.contacts i {
    color: var(--color2);
    font-size: 45px;
    width: 90px;
    height: 90px;
    border: 3px solid var(--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;

    background-color: var(--bgc1);
}
.footer p {
    margin: 0;
}



@media (max-width:767px) {
    section {
        padding: 50px 0;
    }
    body.lock {
        overflow: hidden;
    }
    .menu_logo {
        flex: 0 0 40px;
    }
    .menu_dropdown {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .menu_dropdown span {
        position: absolute;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;

        transition: all 0.3s ease 0s;

        background-color: teal;
    }
    .menu_dropdown::before,
    .menu_dropdown::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;

        transition: all 0.3s ease 0s;

        background-color: teal;
    }
    .menu_dropdown::before {
        top: 0;
    }
    .menu_dropdown::after {
        bottom: 0;
    }
    .menu_dropdown.active span {
        transform: scale(0);
    }
    .menu_dropdown.active::before {
        top: 9px;
        transform: rotate(45deg);
    }
    .menu_dropdown.active::after {
        bottom: 9px;
        transform: rotate(-45deg);
    }
    .menu {
        position: fixed;
        overflow: auto;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 70px 10px 20px 10px;

        transition: all 0.9s ease 0s;
        opacity: 0.9;

        background-color: whitesmoke;
    }
    .menu.active {
        top: 0;
    }
    .menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .menu_list li {
        margin-bottom: 0 0 10px 0;
    }
    .menu_link {
        font-size: 30px;
        line-height: 60px;
    }

    .examples_inner {
        gap: 30px;
        grid-template-columns: max-content;
    }
}