*, *::before, *::after {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    min-height: 100%;
    max-width: 100%;
}

.tealspan {
    color: teal;
}



/* menu */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    background-color: whitesmoke;
}
.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 100%;
}
.menu_body {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.menu_logo {
    position: relative;
    overflow: hidden;
    flex: 0 0 60px;
    z-index: 3;

    border-radius: 50%;
}
.menu_logo img {
    display: block;
    max-width: 100%;
}
.menu_dropdown {
    display: none;
}
.menu_list {
    display: flex;
    position: relative;
    z-index: 2;
}
.menu_list li {
    list-style: none;
    padding-right: 5px;
}
.menu_list li a:hover {
    color: black;
    border-radius: 5px;
    background-color: teal;
}
.menu_link {
    padding: 5px 10px;

    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;

    color: slategray;
}



/* main */
main {
    flex: 1 1 auto;
    margin-top: 80px;
    padding: 20px 10px;
}
/* index */
.index_title {
    font-size: 25px;

    color: grey;
}
.index_text {
    margin-top: 15px;

    font-size: 20px;
}
/* about */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frontend, .html, .css, .js {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 840px;
}
.html, .css, .js {
    padding-top: 20px;
}
.about_title {
    display: flex;
    justify-content: center;

    color: teal;
}
.about_photo {
    padding-top: 10px;
}
.about_photo img {
    width: 100%;
    border: 1px solid black;
}
.about_text {
    padding: 15px 0;

    font-size: 20px;

    color: grey;
}
.about_hr {
    width: 100%;
    max-width: 840px;
    border: 1px solid slategrey;
}
/* portfolio */
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    line-height: 50px;
}
.portfolio_title {
    text-transform: uppercase;

    color: grey;
}
.portfolio_link {
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;

    color: teal;
}
.portfolio_img img {
    max-width: 100%;
}
/* contacts */
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacts_title {
    font-size: 25px;
    text-transform: uppercase;

    color: teal;
}
.contacts_text {
    font-size: 20px;
    padding-top: 5px;

    color: grey;
}
.contact {
    text-decoration: none;
    text-transform: uppercase;

    color: teal;
}
.email {
    color: teal;
}


/* footer */
footer {
    width: 100%;
    height: 80px;

    background-color: whitesmoke;
}
.info {
    display: flex;
    justify-content: space-around;
    padding: 28.75px 0;
}
.footer_info, .footer_logo {
    font-size: 20px;

    color: slategrey;
}

@media (max-width:767px) {
    body.lock {
        overflow: hidden;
    }
    .menu_body {
        height: 70px;
    }
    .menu_logo {
        flex: 0 0 40px;
    }
    .menu_dropdown {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .menu_dropdown span {
        position: absolute;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;

        transition: all 0.3s ease 0s;

        background-color: teal;
    }
    .menu_dropdown::before,
    .menu_dropdown::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;

        transition: all 0.3s ease 0s;

        background-color: teal;
    }
    .menu_dropdown::before {
        top: 0;
    }
    .menu_dropdown::after {
        bottom: 0;
    }
    .menu_dropdown.active span {
        transform: scale(0);
    }
    .menu_dropdown.active::before {
        top: 9px;
        transform: rotate(45deg);
    }
    .menu_dropdown.active::after {
        bottom: 9px;
        transform: rotate(-45deg);
    }
    .menu {
        position: fixed;
        overflow: auto;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 70px 10px 20px 10px;

        transition: all 0.9s ease 0s;
        opacity: 0.9;

        background-color: whitesmoke;
    }
    .menu.active {
        top: 0;
    }
    .menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .menu_list li {
        margin-bottom: 0 0 10px 0;
    }
    .menu_link {
        font-size: 30px;
        line-height: 60px;
    }

    main {
        margin-top: 70px;
        padding: 10px;
    }

    footer {
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .footer_info, .footer_logo {
        font-size: 15px;
    }
}